.bawah {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: silver;
   color: white;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}

.wa.btn{
	background-color: green;
	margin: auto;
   padding: 10px 10px 10px;
   color: white;
    border-radius: 8px;
}

.wa.btn:hover {
    background-color: white; 
    color: #009933; 
    border: 2px solid #009933;
    border-radius: 8px;
}

.waa.btn{
   background-color: green;
   margin: auto;
left: 60px;
top: 20px;
color: white;



}

p.titleku{
   padding-left: 28px;
   color: #edb200;
   font-size: 20px;
   
}